/**
 	* @require common/css/base.less
 */
.calendar {
  position: absolute;
}
.calendar .top {
  text-align: center;
  position: relative;
  color: #666;
}
.calendar .top .lbtn {
  position: absolute;
  left: 13px;
  top: 0px;
  cursor: pointer;
  color: #09f;
}
.calendar .top .rbtn {
  position: absolute;
  right: 13px;
  top: 0px;
  cursor: pointer;
  color: #09f;
}
.WdateDiv {
  position: relative;
  width: 280px;
  font-size: 12px;
  color: #333;
  border: solid 1px #69AA1D;
  background-color: #fff;
  padding: 10px 1px 0px;
}
.WdateDiv .WdayTable {
  line-height: 20px;
  color: #13777e;
  background-color: #edfbfb;
  border-collapse: collapse;
}
.WdateDiv .WdayTable td {
  text-align: center;
  width: 40px;
  position: relative;
}
.WdateDiv .WdayTable td .festival {
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  background: url('images/greenIcon.png');
  right: 0px;
  top: 0px;
}
.WdateDiv .WdayTable .MTitle td {
  line-height: 24px;
  color: #404040;
  background: #fff;
  cursor: default;
  font-weight: normal;
  border: none;
}
.WdateDiv .WdayTable .WotherDay {
  color: #D4D4D4;
  cursor: default;
}
.WdateDiv .WdayTable td {
  line-height: 30px;
  font-size: 12px;
  color: #999;
  background: #fff;
  cursor: pointer;
  padding: 1px;
  border: none;
}
.WdateDiv .WdayTable .todayclass {
  background: #eee;
}
.WdateDiv .WdayTable .Wselday {
  background-color: #f90;
  color: #fff;
}
#dpControl {
  text-align: right;
  margin-top: 3px;
}
#dpControl .dpButton {
  margin-left: 2px;
  line-height: 16px;
  width: 45px;
  background-color: #64A3F3;
  color: #fff;
  border: none;
  cursor: pointer;
}
